<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" /> <!-- Only for Android 13+ -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indifi"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.DummyWFD_LCMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WifiScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LegacyWifiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WifiDirectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WifiDirectScreen1Activity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Indifi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.BroadcastSyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".ui.utils.MessageRouterService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>